.header
  justify-content: space-between
  align-items: center
  padding: 1rem
  background-color: #111111
  color: #fff
  width: 100%
  margin-bottom: 4rem
  

  h1
    font-size: 1.2rem
    display: flex
    align-items: center

  .hamburger
    background: none
    border: none
    color: #fff
    font-size: 2rem
    cursor: pointer

  .mobile-menu
    position: absolute
    top: 3.5rem
    right: 0rem
    background-color: #111
    padding: 1rem
    padding-bottom: 100vh
    border-radius: 5px
    ul
      list-style: none
      padding: 0
      li
        margin: 1rem 0
        a
          color: #fff
          text-decoration: none
