@use '../variables'
@use '../mixins' 

.pagination
  display: flex
  justify-content: center
  align-items: center
  color: variables.$text-color
  margin-top: 2rem
  gap: 10px 

  button
    padding: 1rem
    margin: 20px 0
    color: variables.$text-color
    background-color: transparent

span
    font-size: 16px
    border-radius: 10px
    
.arrow-page
  box-shadow: 0px 0px 10px rgba(0, 17, 255, 0.9)
  font-weight: bold

  &:hover
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.9)
    transition: box-shadow 0.3s ease-in-out
