@use '../variables'
@use '../mixins'
    
.technologies-container
    padding: 20px
    margin-bottom: 1rem

    .technologies-grid
        display: flex
        justify-content: center
        gap: 1.5rem
        justify-content: space-between 
        width: 100% 
        flex-wrap: wrap
        text-align: center

    .technology-card
        @include mixins.center
        flex-direction: column 
        gap: 1rem
        padding: 1rem
        width: 17%
        border-radius: variables.$card-border-radius 
        @include mixins.box-shadow(#0011ff, 1)
        @include mixins.hover-shadow(#ff0000, 1) 

        h3
            color: variables.$text-color
            margin-bottom: 1rem

        svg
            font-size: 4rem

    #react
        svg
            color: #61DAFB

    #nextjs
        svg
            color: #ffffff

    #bootstrap
        svg
            color: #7952B3

    #sass
        svg
            color: #CC6699
    
    #tailwind
        svg
            color: #06B6D4

    #node
        svg
            color: #83CD29
        
    #typescript
        svg
            color: #007ACC
    
    #nestjs
        svg
            color: #E0234E
    
    #java
        svg
            color: #007396

    #springboot
        svg
            color: #6DB33F
    
    #flutter
        svg
            color: #02569B
    
    #docker
        svg
            color: #2496ED

    #mysql
        svg
            color: #00618A

    #mongodb
        svg
            color: #47A248
    
    #postgresql
        svg
            color: #336791
    
            

@media (max-width: 768px)
    .technologies-container
        .technologies-grid
            gap: 1rem

        .technology-card
            width: 30% 
            padding: 0.5rem 

            svg
                font-size: 3rem 

@media (max-width: 480px)
    .technologies-container
        .technologies-grid
            gap: 1.4rem

        .technology-card
            width: 45%
            padding: 0.5rem

            svg
                font-size: 2.5rem