@use 'variables'

*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

body
    background-color: variables.$body-bg-color
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.3)), url('../img/bg.png')
    background-size: cover
    background-position: center
    min-height: 100vh
    min-width: 430px


a, svg
    transition: .4s
